<%-include("partials/header") %>
<div class="jumbotron centered" id="home_container">
    <div class="container">
      <h1 class="display-3 heading">SayItOut</h1>
      <a class="btn btn-light btn-lg" id="register-btn" href="/register" role="button">Register</a>
      <a class="btn btn-lg" id="login-btn" href="/login" role="button">Login</a>
    </div>
  </div>
  <%-include("partials/footer") %>